main {
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.kohabar {
  background-color: #1a1a1a;
}
.kohabar #navbarNav .nav-link {
  color: #bbb;
}
.kohabar #navbarNav .nav-link:hover {
  color: #fff;
}
.kohabar #navbarNav input[type=search] {
  background-color: #3a3a3a;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  color: #eee;
  padding: 6px;
  margin-left: 1em;
  transition: all 0.15s;
}
.kohabar #navbarNav input[type="search"]:focus {
  background-color: #fff;
  color: #111;
  outline: 0;
}
.koha-copy {
  font-size: 0.85rem; /* 16 * 0.85 = 13.6 */
}
.koha-copy, .koha-copy a {
  color: #777;
}
.koha-footer {
  background: url(/kohalicious/pinstripe-light.png);
  background-color: #f2ece9;
  box-shadow: inset 0 10px 10px -5px #ddd;
  color: #666;
}
.koha-footer a:hover {
  color: #000;
  text-decoration: none;
}
.koha-social a {
  color: #666;
  font-size: 1.5em;
  padding: 0.2em;
}
