body {
  background-color: #fff;
}
pre,
pre > code,
:not(pre) > code,
.koha-terminal > code {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 0.9rem; /* 16 * 0.9 = 14.4 */
}
:not(pre) > code {
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  padding: 0.3em;
}
pre {
  background-color: #fff;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  padding: 1em;
}
pre > code {
  color: #24292e;
  line-height: 1.5em;
  text-align: left;
  white-space: pre-wrap;
}
ul { list-style-type: square }
.koha-docinfo {
  border-bottom: 1px solid #e1e4e8;
  font-size: 0.9rem; /* 16 * 0.9 = 14.4 */
  padding: 0;
  padding-bottom: 0.5em;
  padding-top: 1.5em;
  margin-bottom: 1em;
}
.koha-docinfo a {
  color: #333;
}
.koha-docnav {
  display: inline;
}
.koha-docnav a {
  color: #555;
  display: inline;
  padding: 0;
  padding-right: 0.25em;
}
.koha-docnav a:hover {
  color: #000;
}
.koha-external {
  display: inline;
  float: right;
  position: relative;
  z-index: 1000;
}
.koha-parent {
  float: right;
}
.koha-perldoc {
  color: #445555;
}
.koha-perldoc a {
  color: #000;
  background-color: rgba(187,239,253,0.3);
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
.koha-perldoc a:hover {
  background-color: #bbeffd;
  border-bottom-color: #1a1a1a;
  text-decoration: none;
}
.koha-perldoc dd {
  margin: 0;
  margin-left: 2em;
}
.koha-perldoc dt {
  color: #2a2a2a;
  font-weight: bold;
  margin-left: 0.9em;
}
.koha-perldoc li > p {
  margin-bottom: 0;
  margin-top: 0;
}
.koha-perldoc h1 {
  font-size: 2em;
}
.koha-perldoc h2 {
  font-size: 1.5em
}
.koha-perldoc h3 {
  font-size: 1.2em;
}
.koha-perldoc h4 {
  font-size: 1em;
}
.koha-perldoc h1, .koha-perldoc h2, .koha-perldoc h3, .koha-perldoc h4 {
  line-height: 1.3;
  margin: 0;
  margin-top: 0.75em;
  padding-bottom: 0.2em;
  position: relative;
}
.koha-perldoc h1 a, .koha-perldoc h2 a, .koha-perldoc h3 a, .koha-perldoch4 a {
  background: 0;
  border: 0;
  color: #000;
  font-weight: 600;
  text-decoration: none;
}
.koha-perldoc h1 a:hover, .koha-perldoc h2 a:hover, .koha-perldoc h3 a:hover, .koha-perldoch4 a:hover {
  background: 0;
  text-decoration: none;
}
.koha-perldoc h1 a {
  font-weight: 300;
}
.koha-sidebar {
  background-color: #f6f8fa;
  color: #333;
  font-size: 0.85rem; /* 16 * 0.85 = 13.6 */
  padding-bottom: 1rem;
  padding-right: 0;
}
.koha-sidebar a {
  color: #555;
  display: block;
}
.koha-sidebar a:hover {
  color: #000;
  text-decoration: none;
}
.koha-sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.koha-sidebar > ul:first-of-type {
  overflow: auto;
  padding-top: 1rem;
  position: sticky;
  max-height: 100vh;
  top: -.5rem;
}
.koha-sidebar ul ul li {
  border-left: 1px solid #e1e4e8;
  padding-left: 10px;
}
.koha-sidebar ul ul li:hover {
  border-left: 6px solid #e1e4e8;
  padding-left: 5px;
}
.koha-version {
  border-bottom: 1px solid #e1e4e8;
  margin-left: -15px;
  padding: 1rem 15px;
  position: relative;
}
.koha-version fieldset {
  width: 100%;
}
.permalink {
  display: none;
  left: -0.75em;
  position: absolute;
  padding-right: 0.25em;
}
h1:hover .permalink, h2:hover .permalink, h3:hover .permalink, h4:hover .permalink {
  display: block;
}
@media (min-width: 768px) {
  .koha-sidebar {
    border-bottom: 0;
    border-right: 1px solid #e1e4e8;
  }
}
@media (max-width: 768px) {
  .koha-sidebar {
    border-bottom: 1px solid #e1e4e8;
    border-right: 0;
  }
}
/* Fix keeping the flex layout for side+main for smaller screens */
@media (min-width: 60rem) {
  .koha-main {
    max-width: 60rem; /* 16 * 60 = 960px */
  }
}
